
html{
    background-color: lightslategray;
}
header img{
    max-width: 50px;
    padding-top: .25em;
    padding-left: .25em;
}

header h2{
    border-bottom: 3px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    padding-bottom: .5em;
    padding-left: .5em;
    color: white;
}

body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    margin: auto;
}

.digitalclock{
    display: flex;
    gap: .25em;
    padding: 0 .5em;
}

.container{
    color: white;
    background-color: darkslategray;
}

#colon1{
    display: flex;
}
#colon2{
    display: flex;
}

footer{
    margin-top: auto;
    text-align: center;
    width: 100%;
    padding-bottom: .5em;
    color: white;
}

    @media only screen and (max-width: 479px){
        header h2{
            font-size: 70%;
        }
        
        body{
            height: 100vh;
        }
        main{
            font-size: 150%;
            padding: .5em .5em; 
        }

        .container{
            padding-bottom: 1em;
            padding-top: 1em;
        }

        .digitalclock{
            display: flex;
            flex-direction: column;
        }

        
        #colon1{
            display: none;
        }
        #colon2{
            display: none;
        }

        #minutes{
            border-top: 3px solid ;
            border-bottom: 3px solid white;
            padding: 2em 0;
        }

        footer{
            border-top: 3px solid white;
            padding-top: .25em;
        }

    }
